@import './styles/helpers/variables.css';
@import './styles/components/buttons.css';
@import './styles/components/badge.css';
@import './styles/components/checkbox.css';
@import './styles/components/scrollbar.css';
@import './styles/components/form-control.css';
@import './styles/components/overlay.css';
@import './styles/components/select.css';
@import './styles/helpers/utilities.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  min-height: 100vh;
}

.highlight {
  background-color: var(--color-highlight);
  color: var(--color-black);
  font-weight: var(--font-weight-semibold);
  padding: 1px 2px;
  border-radius: 2px;
}